
 .nav-bar{
    position: fixed;
    top:-0px;
   
 }
 .section img{
    max-width: 70%;
    object-fit: cover;
   
 }
 .section{
   
    color: white;
    width:70%;
    border-bottom: 2px solid rgba(255, 166, 0, 0.726);
 }
 @media(max-width:746px){
   .section{
      width:95%;
   }
}