body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}





.box{

  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-size: cover;
}
.box .text{
  font-size: 150%;
  line-height: 4rem;
  font-weight: 600;
}
.box img{
  height:100%;
  width: 100%;
  max-height: 1200px;
  background:transparent;
  background-color: white;
  
}


.b1{
  position:relative;
  top:100px
}
.b2{
  position:relative;
  top:100px;
  z-index:-1;
}
.b1 img{
  
  top:100px;
  max-height: 900px;
  max-width: 100%;
}
.b2 img{
  background-color: rgb(92, 67, 67);
  mix-blend-mode:lighten;
  max-height: 1000px;
  max-width: 1000px;
  border-bottom-right-radius:50px;
}
.b3{
  background-color: rgb(246, 244, 244);
}
.b8 img{
  mix-blend-mode: lighten;
}
.b10 img{
  max-height: 1500px;
}


 
 

.menu{
  display: none;
}
.menuS{
  display: none;
  position:sticky;
  border:2px solid white;
  border-radius: 50%;
  background-color: rgba(165, 42, 42, 0.436);

  top:10px;
  z-index: 6;
  height: 90px;
  width: 130px;
  margin-left: 80%;
  


}
.Menu{
  display: none;
}
.mainMenu{
  position: sticky;
  top: 0px;
  z-index: 5;
  height:100vh ;
  width:100%;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmMKV74Dk6-PlQkPBcWx9TkiD3hUy3bqXxH2r5L3nSgcsoaFD-m7FJiBY6lXrPjmR6Bx0&usqp=CAU) ;
  background-size: cover;
  
  display: none;
}


.mainMenu a{
  position: absolute;
  text-decoration: none;
  color:rgb(226, 218, 218);
  font-size: 2em;
}
.a1{
  top:12%;
  left:45%;
}
.a2{
  top:40%;
  left:27%;
}
.a3{
  top:40%;
  right:27%;
}
.a4{
  top:73%;
  right:47%;
}
.mainMenu a:hover{
  color:white;
  font-weight: 500;
}

@media (max-width:2262px){
  .circle{
    width:40%;
  }
  .a3{
    top:40%;
    right:25%;
  }
}
@keyframes moveIN {
  0%{
    transform:translateX(-2000px);
  }
  
  
  100%{
    transform: translateX(0px);
  }
}
@keyframes moveIN2 {
  0%{
    transform:translateX(2000px);
  }
  
  
  100%{
    transform: translateX(0px);
  }
}
.moveIN{
  animation:moveIN 1.5s linear;
}
.moveIN2{
  animation: moveIN2 1.5s ease-in 0s 1 ;
}
