html{
    scroll-behavior: smooth;
}

.ProjectDescription{
    width: 100%;
    background-color: rgb(54, 54, 54);
    color:white;
    
}
.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 20px;
}


h1{
    color:rgb(216, 77, 22);
}
b{
    color:rgb(241, 119, 106);
}
@media(max-width:746){
    
}
.References p {
  overflow: hidden;
}
.footer{
    width:100%;
}